<!DOCTYPE html>
<html>
  <head>
    <title>Asteroid Miner - {{ asteroid.name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Asteroid Miner</h1>
      <h2 class="mt-5">{{ asteroid.name }}</h2>
      <table class="table">
        <tbody>
          <tr>
            <th>Size (m)</th>
            <td>{{ asteroid.size }}</td>
          </tr>
          <tr>
            <th>Composition</th>
            <td>{{ asteroid.composition }}</td>
          </tr>
          <tr>
            <th>Mineable Resources</th>
            <td>{{ asteroid.mineable_resources }}</td>
          </tr>
        </tbody>
      </table>
      <form method="POST" action="/asteroids/{{ asteroid.id }}/mine">
        <div class="form-group">
          <label for="mining_laser_level">Mining Laser Level:</label>
          <input type="number" class="form-control" id="mining_laser_level" name="mining_laser_level">
        </div>
        <button type="submit" class="btn btn-primary">Mine</button>
      </form>
    </div>
  </body>
</html>
