<!DOCTYPE html>
<html>
  <head>
    <title>Asteroid Miner - Asteroids</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Asteroid Miner</h1>
      <h2 class="mt-5">All Asteroids</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Size (m)</th>
            <th>Composition</th>
            <th>Mineable Resources</th>
          </tr>
        </thead>
        <tbody>
          {% for asteroid in asteroids %}
            <tr>
              <td><a href="/asteroids/{{ asteroid.id }}">{{ asteroid.name }}</a></td>
              <td>{{ asteroid.size }}</td>
              <td>{{ asteroid.composition }}</td>
              <td>{{ asteroid.mineable_resources }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
